*.0 linguist-language=0 linguist-vendored=false
*.1 linguist-language=1 linguist-vendored=false
*.9 linguist-language=9 linguist-vendored=false
*.a linguist-language=A linguist-vendored=false
*.acm linguist-language=Acm linguist-vendored=false
*.apache linguist-language=Apache linguist-vendored=false
*.ax linguist-language=Ax linguist-vendored=false
*.bash_history linguist-language=Bash_history linguist-vendored=false
*.bsd linguist-language=Bsd linguist-vendored=false
*.c linguist-language=C linguist-vendored=false
*.cache linguist-language=Cache linguist-vendored=false
*.cache-7 linguist-language=Cache-7 linguist-vendored=false
*.cfg linguist-language=Config File linguist-vendored=false
*.com linguist-language=Com linguist-vendored=false
*.cpl linguist-language=Cpl linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.csv linguist-language=Csv linguist-vendored=false
*.desktop linguist-language=Desktop linguist-vendored=false
*.dirs linguist-language=Dirs linguist-vendored=false
*.dll linguist-language=Dll linguist-vendored=false
*.dockerignore linguist-language=Docker linguist-vendored=false
*.drv linguist-language=Drv linguist-vendored=false
*.ds linguist-language=Ds linguist-vendored=false
*.env linguist-language=Env linguist-vendored=false
*.example linguist-language=Example linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.f linguist-language=F linguist-vendored=false
*.f2py_f2cmap linguist-language=F2py_f2cmap linguist-vendored=false
*.f90 linguist-language=F90 linguist-vendored=false
*.fits linguist-language=Fits linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.h linguist-language=H linguist-vendored=false
*.htc linguist-language=Htc linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.icm linguist-language=Icm linguist-vendored=false
*.inf linguist-language=Inf linguist-vendored=false
*.ini linguist-language=Ini linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.key linguist-language=Key linguist-vendored=false
*.locale linguist-language=Locale linguist-vendored=false
*.log linguist-language=Log linguist-vendored=false
*.manifest linguist-language=Manifest linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mo linguist-language=Mo linguist-vendored=false
*.mod linguist-language=Mod linguist-vendored=false
*.msstyles linguist-language=Msstyles linguist-vendored=false
*.nls linguist-language=Nls linguist-vendored=false
*.npy linguist-language=Npy linguist-vendored=false
*.npz linguist-language=Npz linguist-vendored=false
*.ocx linguist-language=Ocx linguist-vendored=false
*.odt linguist-language=Odt linguist-vendored=false
*.pem linguist-language=PEM Key linguist-vendored=false
*.pkl linguist-language=Pkl linguist-vendored=false
*.pnf linguist-language=Pnf linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.psf linguist-language=Psf linguist-vendored=false
*.pxd linguist-language=Pxd linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.pyc linguist-language=Pyc linguist-vendored=false
*.pyi linguist-language=Pyi linguist-vendored=false
*.pyx linguist-language=Pyx linguist-vendored=false
*.reg linguist-language=Reg linguist-vendored=false
*.rsm linguist-language=Rsm linguist-vendored=false
*.rst linguist-language=Rst linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.so linguist-language=So linguist-vendored=false
*.sty linguist-language=Sty linguist-vendored=false
*.sys linguist-language=Sys linguist-vendored=false
*.tag linguist-language=Tag linguist-vendored=false
*.tdb linguist-language=Tdb linguist-vendored=false
*.tex linguist-language=Tex linguist-vendored=false
*.thm linguist-language=Thm linguist-vendored=false
*.tlb linguist-language=Tlb linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.typed linguist-language=Typed linguist-vendored=false
*.update-timestamp linguist-language=Update-timestamp linguist-vendored=false
*.vxd linguist-language=Vxd linguist-vendored=false
*.wxl linguist-language=Wxl linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
Dockerfile linguist-language=Docker linguist-vendored=false
docker-compose.yaml linguist-language=Docker linguist-vendored=false
